<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="d.com.proscaner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/eastcoast_img"
        android:label="AMS-WAT/S AND T"
        android:roundIcon="@drawable/eastcoast_img"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Eastcoast">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".WelcomePage" />
        <activity
            android:name=".afterscanning"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".Update"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>